**Functions**

A function is a block of reusable code that performs a specific task. Which helps in breaking down code into smaller, less complex parts. 
* Code reusability
* Simplification of complex problems
* Improved readability

we basically have two different types of functions:
* perform a task
* returns a value

In [1]:
def function_name(parameters):
    """docstring"""
    #code block

function_name('arguments')

Components:

* def: Keyword to define a function.
* function_name: Name of the function, following standard naming conventions.
* parameters: Optional; variables passed to the function.
* docstring: Optional; provides a description of the functionâ€™s purpose.
* code block: Code to be executed when the function is called.

In [2]:
#retrieving docstring
def get_name(first,last):
    """this function gets users name and prints it.

    Args:
        first (string): user's first name
        last (string): user's last name
        
    exceptions:
        indentation error
        syntax error
        """
    print(f'hello {first}, {last}')

get_name('caleb','david')
get_name.__doc__

hello caleb, david

"this function gets users name and prints it.\n\n    Args:\n        first (string): user's first name\n        last (string): user's last name\n        \n    exceptions:\n        indentation error\n        syntax error\n        "

In [3]:
def collect_names(middle_name, nickname):
    """ our function is collecting other names of students

    Args:
        middle_name (string): user's middle name
        nickname (string): user's nick name
    exceptions:
        Indentation
        syntax
        
    """
    print(f'your middle name is {middle_name} and your nickname is {nickname}')
collect_names(middle_name='tony',nickname='bigbash')

your middle name is tony and your nickname is bigbash

In [4]:
def divide(g: int,u=2):
    return g/u

divide(4)

2.0

* keyword arguments
* default arguments

In [5]:
def add_numbers(x,y,z):
    print(x+y+z)
    
t=add_numbers(x=2,y=6,z=4)
print(t)

12
None

In [6]:
def add_numbers(x,y,z):
    return x+y+z
    
x=add_numbers(2,6,4)
print(x)

12

In [11]:
def add_numbers(x: int,y, z=1):
    return x+y+z
    
x=add_numbers(2,6)
print(x)

9

In [ ]:
def multiply(x,y):
    return x*y
multiply(3,6)

18

In [ ]:
x=x+1
x+=1
x*=1

In [12]:
#*args

def multiply(*values):
    total=1
    for i in values:
        total *= i
        
        
    return total
multiply(3,6,4,9,7,8,2,3)

217728

In [13]:
#**kwargs
def student_info(**student):
    print(student)
    
student_info(name='chiamaka',matric_no='Pl/2345',department='biochem',track='data science')

{'name': 'chiamaka', 'matric_no': 'Pl/2345', 'department': 'biochem', 'track': 'data science'}

In [ ]:
#scope (local vs global)
# a global variable is a variable you can use in all 
# of your file while local variable is a variable 
# under just a  particular function

In [16]:
c=5
c=7
c

7

In [17]:
club='madrid'
def find():
    team='chelsea'
    print(club)
find()
def find2():
    global teams ='r'
    
    team='man u'
    print(club)
find2()
club
teams

madrid
madrid

'madrid'

In [ ]:
import math

def area_of_a_circle(r):
    area= math.pi * (r**2)
    return area
area_of_a_circle(5)

78.53981633974483

In [8]:
import math

def area_of_circle(radius):
    """
    Calculate the area of a circle given its radius.

    Parameters:
    radius (float): The radius of the circle. Must be a positive number.

    Returns:
    float: The area of the circle if the radius is positive.
           None if the radius is negative or zero, with a message indicating the issue.
    """
    if radius <= 0:
        print("Error: Radius must be a positive number. Area cannot be calculated.")
        return None
    else:
        area = math.pi * (radius ** 2)
        return area


result = area_of_circle(-9)
if result is not None:
    print(f"The area of the circle is: {result} ")
#and radius is {radius}

Error: Radius must be a positive number. Area cannot be calculated.

Functions are divided into:
* built-in function 
* user-defined
* anonymous

**Lambdas**

A lambda function is anl anonymous function defined using the 'lambda' keyword in Python. It can have any number of arguments but only one expression at thesame time any valid python expression, to be evaluated and returned.

In [ ]:
lambda #arguments: #expression

In [3]:
new_func=lambda x: x+5
new_func(6)

11

In [18]:
my_list=[3,4,5,7]
def raise_to_two(x):
    return x**2

valuer=list(map(raise_to_two,my_list))
print(valuer)

[9, 16, 25, 49]

In [19]:
my_list=[3,4,5,7]
# def raise_to_two(x):
#     return x**2

squared=list(map(lambda x: x**2,my_list))
print(squared)

[9, 16, 25, 49]

In [9]:
list2=['joe','pam','bash','simon']

bash=list(filter(lambda x : x == 'bash',list2))
print(bash)

['bash']

In [ ]:
#sort  filter